@import url("http://fonts.googleapis.com/css?family=Raleway:400,500,700");
/* line 17, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Totem";
  src: url("/fonts/totem.otf") format("otf");
  src: url("/fonts/totem.svg#abcd") format("svg");
  src: url("/fonts/totem.ttf") format("truetype");
}

/* line 18, sass/udo.sass */
html, body {
  height: 100%;
  font-family: Raleway;
  font-weight: 400;
  background: url(/img/background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 25, sass/udo.sass */
.wrapper {
  min-height: 100%;
  position: relative;
}

/* line 29, sass/udo.sass */
header {
  text-align: center;
  margin: auto;
  padding: 2.5% 0 4.5%;
}
/* line 33, sass/udo.sass */
header h1 {
  font-family: "Totem";
  font-size: 150px;
  color: orangered;
}

/* line 37, sass/udo.sass */
.container {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  padding-bottom: -30px;
}

/* line 42, sass/udo.sass */
main {
  display: block;
  width: 60%;
  margin: auto;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 47, sass/udo.sass */
main legend {
  display: inline-block;
  font-size: 26px;
  height: 26px;
  line-height: 26px;
  margin-left: 4%;
  position: relative;
  z-index: 2;
  padding: 10px 15px;
  font-weight: 500;
}
/* line 57, sass/udo.sass */
main p {
  display: block;
  width: 90%;
  margin: 20px auto;
  line-height: 18px;
}
/* line 62, sass/udo.sass */
main p strong {
  font-weight: 700;
}
/* line 64, sass/udo.sass */
main #status {
  height: 22px;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
}
/* line 70, sass/udo.sass */
main input, main textarea {
  display: block;
  width: 90%;
  margin: 15px auto;
  height: 40px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  border: 2px solid lightseagreen;
  outline: none;
  padding: 0 10px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 82, sass/udo.sass */
main input:focus, main textarea:focus {
  border: 2px solid goldenrod;
}
/* line 84, sass/udo.sass */
main input:required, main input:invalid, main textarea:required, main textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 86, sass/udo.sass */
main .error {
  border: 2px solid indianred;
}
/* line 88, sass/udo.sass */
main input[type=button] {
  border: none;
  background: lightseagreen;
  width: 250px;
  color: #fafafa;
  text-transform: uppercase;
  font-family: "Totem";
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 1px;
  margin-top: 50px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 100, sass/udo.sass */
main input[type=button]:hover {
  background: goldenrod;
}
/* line 102, sass/udo.sass */
main input[type=button]:active {
  background: #e4b849;
}
/* line 104, sass/udo.sass */
main textarea {
  font-family: Helvetica;
  min-height: 160px;
  resize: none;
}

/* line 108, sass/udo.sass */
footer {
  position: absolute;
  height: 30px;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fafafa;
  font-size: 14px;
  line-height: 30px;
}
/* line 117, sass/udo.sass */
footer a, footer a:visited {
  color: lightseagreen;
  text-decoration: none;
  font-weight: 700;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 122, sass/udo.sass */
footer a:hover, footer a:visited:hover {
  color: orangered;
}

@media screen and (max-width: 1200px) {
  /* line 126, sass/udo.sass */
  main {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  /* line 130, sass/udo.sass */
  main {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  /* line 134, sass/udo.sass */
  footer {
    font-size: 10px;
  }

  /* line 136, sass/udo.sass */
  .container {
    margin-bottom: 50px;
  }

  /* line 139, sass/udo.sass */
  main legend {
    font-size: 18px;
  }
  /* line 141, sass/udo.sass */
  main input[type=text], main input[type=email], main textarea, main p {
    font-size: 14px;
  }
}
